<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro de entregadores</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="entregadoresForm">
        <ion-item>
            <ion-label position="floating">Nome:</ion-label>
            <ion-input formControlName="nome" type="text"></ion-input>
            <ion-text color="danger" *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)">
                <small *ngIf="nome?.errors?.['required']">
                    O campo nome é obrigatório
                </small>
                <small *ngIf="nome?.errors?.['minlength']">
                    O campo nome deve conter no mínimo
                    {{ nome?.errors?.['minlength'].requiredLength }} caracteres
                </small>
                <small *ngIf="nome?.errors?.['maxlength']">
                    O campo nome deve conter no máximo
                    {{ nome?.errors?.['maxlength'].requiredLength }} caracteres
                </small>
            </ion-text>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Data de nascimento:</ion-label>

            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime id="datetime" formControlName="data_nascimento" display-format="DD de MMMM de YYYY"
                        min="1930-01-01" presentation="date" showDefaultButtons="true" doneText="Selecionar"
                        cancelText="Cancelar"></ion-datetime>
                </ng-template>
            </ion-modal>
        </ion-item>
        <ion-list>
            <ion-list-header>
                <ion-label>Gênero</ion-label>
            </ion-list-header>
            <ion-radio-group name="genero" formControlName="genero">
                <ion-item>
                    <ion-radio slot="start" value="F">Feminino</ion-radio>
                </ion-item>
                <ion-item>
                    <ion-radio slot="start" value="M">Masculino</ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>
        <ion-item>
            <ion-label position="floating">Placa do veiculo:</ion-label>
            <ion-input formControlName="placaVeiculo" type="text"></ion-input>
            <ion-text color="danger" *ngIf="placaVeiculo?.invalid && (placaVeiculo?.dirty || placaVeiculo?.touched)">
                <small *ngIf="placaVeiculo?.errors?.['required']">
                    O campo nome é obrigatório
                </small>
                <small *ngIf="placaVeiculo?.errors?.['minlength']">
                    O campo nome deve conter no mínimo
                    {{ placaVeiculo?.errors?.['minlength'].requiredLength }} caracteres
                </small>
                <small *ngIf="placaVeiculo?.errors?.['maxlength']">
                    O campo nome deve conter no máximo
                    {{ placaVeiculo?.errors?.['maxlength'].requiredLength }} caracteres
                </small>
            </ion-text>
        </ion-item>

        <ion-list>
            <ion-list-header>
                <ion-label>Tipo de veiculo</ion-label>
            </ion-list-header>
            <ion-radio-group name="tipoVeiculo" formControlName="tipoVeiculo">
                <ion-item>
                    <ion-radio slot="start" value="M">Moto</ion-radio>
                </ion-item>
                <ion-item>
                    <ion-radio slot="start" value="C">Carro</ion-radio>
                </ion-item>
                <ion-item>
                    <ion-radio slot="start" value="O">Outro</ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end">
            <ion-fab-button (click)="salvar()" [disabled]="!entregadoresForm.valid">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </form>
</ion-content>
